.button {
  user-select: none;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 250px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(1, 1);
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 20vh 0;
  width: 100vw;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  z-index: 0;
}

.animateButton {
  animation: animalPushAnimation 0.2s;
}

.poo {
  user-select: none;
  position: absolute;
  bottom: 20vh;
  font-size: 100px;
  opacity: 0;
}

.animatePoo {
  animation: pooAnimation 2s;
}

.selectedEmoji {
  background-size: 230% 230%;
  background-position: 0% 100%;
  border-radius: 20px;
}
.selectedEmoji:not(.animateBackground) {
  background-image: none;
}

.animateBackground {
  animation: reflectionAnimation 0.7s ease-in-out;
}

.common {
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    rgba(var(--common-rgb), 0.6) 50%,
    transparent 52%,
    rgba(var(--common-rgb), 0.6) 55%,
    transparent 60%
  );
}
.uncommon {
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    rgba(var(--uncommon-rgb), 0.6) 50%,
    transparent 52%,
    rgba(var(--uncommon-rgb), 0.6) 55%,
    transparent 60%
  );
}
.rare {
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    rgba(var(--rare-rgb), 0.6) 50%,
    transparent 52%,
    rgba(var(--rare-rgb), 0.6) 55%,
    transparent 60%
  );
}
.epic {
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    rgba(var(--epic-rgb), 0.6) 50%,
    transparent 52%,
    rgba(var(--epic-rgb), 0.6) 55%,
    transparent 60%
  );
}
.legendary {
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    rgba(var(--legendary-rgb), 0.6) 50%,
    transparent 52%,
    rgba(var(--legendary-rgb), 0.6) 55%,
    transparent 60%
  );
}
.galaxyOpal {
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    rgba(var(--galaxy-opal-rgb), 0.6) 50%,
    transparent 52%,
    rgba(var(--galaxy-opal-rgb), 0.6) 55%,
    transparent 60%
  );
}

@keyframes reflectionAnimation {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% -80%;
  }
}

@keyframes pooAnimation {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    transform: translateY(200px);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}

@keyframes animalPushAnimation {
  0% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}
