.help {
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #bbb;
  cursor: pointer;
  z-index: 1;
}

.text {
  display: none;
}

.animateText {
  display: block;
}
