.collectedEmojis {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 20px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  text-align: center;
}

.emoji {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  margin: 5px;
  user-select: none;
  cursor: pointer;
  transition: 0.2s;
}

.emoji:hover {
  transform: rotateZ(10deg);
}

.common {
  background-color: rgba(var(--common-rgb), 0.3);
  box-shadow: inset 0 0 10px 2px rgb(var(--common-rgb));
}
.uncommon {
  background-color: rgba(var(--uncommon-rgb), 0.3);
  box-shadow: inset 0 0 10px 2px rgb(var(--uncommon-rgb));
}
.rare {
  background-color: rgba(var(--rare-rgb), 0.3);
  box-shadow: inset 0 0 10px 2px rgb(var(--rare-rgb));
}
.epic {
  background-color: rgba(var(--epic-rgb), 0.3);
  box-shadow: inset 0 0 10px 2px rgb(var(--epic-rgb));
}
.legendary {
  background-color: rgba(var(--legendary-rgb), 0.3);
  box-shadow: inset 0 0 10px 2px rgb(var(--legendary-rgb));
}
.galaxyOpal {
  background-color: rgba(var(--galaxy-opal-rgb), 0.3);
  box-shadow: inset 0 0 10px 2px rgb(var(--galaxy-opal-rgb));
}

.emojiPcs {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: #fff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #f00;
  align-self: flex-start;
}
