.App {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/images/courtney-kenady.jpg");
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.mainSection {
  display: flex;
  position: relative;
}

.collectedEmojis {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 20px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  text-align: center;
}

.emoji {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  margin: 5px;
  background-color: rgba(83, 83, 83, 0.7);
}

.emoji.legendary {
  background-color: rgba(255, 187, 0, 0.7);
}
.emoji.epic {
  background-color: rgba(153, 0, 255, 0.7);
}
.emoji.rare {
  background-color: rgba(49, 138, 255, 0.7);
}

.emojiPcs {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: #fff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #f00;
  align-self: flex-start;
}
