.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backgroundImage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("./assets/images/courtney-kenady.jpg");
  background-size: cover;
  z-index: -1;
}

.mainSection {
  display: flex;
  position: relative;
}
